<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- 날짜 + 스레드 + 레벨 + 클래스 + 메시지 -->
            <pattern>%logger{0} %d{HH:mm:ss.SSS} %highlight([%thread]) - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
